<div class="menu pmd-floating-action"  role="navigation"> 
	<a href="/order" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Order"> 
		<span class="pmd-floating-hidden">New Order</span>
		<i class="material-icons">local_shipping</i>
	</a> 
	<a href="/inventory" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Manage Beer"> 
		<span class="pmd-floating-hidden">Manage Beer</span> 
		<i class="material-icons">local_drink</i> 
	</a> 
	<a href="/account/newaccount" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Manage Accounts"> 
		<span class="pmd-floating-hidden">Manage Accounts</span> 
		<i class="material-icons">supervisor_account</i>
	</a> 
	<a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add" href="javascript:void(0);"> 
		<span class="pmd-floating-hidden">Primary</span>
		<i class="material-icons pmd-sm">add</i> 
	</a> 
</div>