
<!-- Floating Action Button like Google Material -->

	<%- include('floating-buttons') %>

	<div class="push-bottom"></div>
</div>



<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script 
  type="text/javascript" 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script 
	type="text/javascript" 
	src="javascripts/propeller.min.js"></script>
<script 
	type="text/javascript" 
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>



</body>
</html>