<%- include('partials/header') %>

<div class="push-top">

	<%- include('partials/inventory-breakdown', {user: user}); %>
	<%- include('partials/delivery-overview', {user: user}); %>	
	
</div>

<%- include('partials/footer') %>

