<%- include('partials/header') %>

<div class="pure-g">
	<div class="pure-u-1">
		<br />
		<br />
		<br />
		<h1>Settings</h1>
		<a href="/newbeer"><h3>New Beer For Sale</h3></a>
		<a href="/newaccount"><h3>New Account</h3></a>
		<p>ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ut ipsum consequuntur possimus, laborum cum error veritatis praesentium aperiam iure tempora, ratione facere deserunt laudantium dolorem necessitatibus dignissimos et id.</p>

	</div>
</div>

<%- include('partials/footer') %>