<%- include('partials/header') %>

<div class="login-box">
	<div class="login-shadowbox pmd-z-depth-2">
		<div class="p-2">
    		<div class="login-image">
    			<img src="images/Profile.png" alt="">
    		</div>
		</div>
		<div class="p-2 login-form">
			<form action="/signup" method="post">
			    <div class="form-group pmd-textfield pmd-textfield">
			        <label class="control-label">Username:</label>
			        <input type="text" name="username" class="form-control" />
			    </div>
			    <div class="form-group pmd-textfield pmd-textfield">
			        <label class="control-label">Password:</label>
			        <input type="password" name="password" class="form-control"/>
			    </div>
			    <div>
			        <input class="btn btn-block btn-primary pmd-btn-outline" type="submit" value="Sign Up"/>
			    </div>
			</form>
			<a href="/"><h5>Back to Log In</h5></a>
        </div>
	</div>
</div>

<%- include('partials/footer_not_logged_in') %>